*.idea
.vscode/
.coverage
.tox/

# Python
**/venv/**
**/.venv/**
*.pyc
*.egg-info/

# Charmcraft
*.charm

.terraform/
.terraform.lock.hcl

terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/integration_tests.auto.tfvars
