name: Integration test

on:
  workflow_call:

jobs:
  integration-test:
    runs-on: [self-hosted, linux, x64, jammy, xlarge]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Terraform
        run: sudo snap install terraform --classic

      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.4/stable
          provider: microk8s
          channel: 1.27-strict/stable
          microk8s-addons: "hostpath-storage dns metallb:10.0.0.2-10.0.0.10"

      - name: Enable Multus addon
        continue-on-error: true
        run: |
          sudo microk8s addons repo add community https://github.com/canonical/microk8s-community-addons --reference feat/strict-fix-multus
          sudo microk8s enable multus
          sudo microk8s kubectl -n kube-system rollout status daemonset/kube-multus-ds
          sudo microk8s kubectl auth can-i create network-attachment-definitions

      - name: Run integration tests
        run: tox -vve integration

      - name: Gather logs
        if: always()
        run: |
          juju-crashdump -m sdcore
          for pod in $(microk8s.kubectl -n sdcore get pods -o json | jq .items[].metadata.name | tr -d '"'); do
            microk8s.kubectl -n sdcore logs $pod --all-containers > pod-$pod.log
          done

      - name: Archive juju crashdump
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: juju-crashdump
          path: juju-crashdump-*.tar.xz

      - name: Archive k8s logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: k8s-logs
          path: pod-*.log